.card-img-top{
    border-radius: 50%;
    height: 200px;
    width: 200px;
    margin-left: 20%;
    margin-top: 10px;
}
.btn-regular{
    margin-top: 10px;
    background-color: #e66465;
   border-radius: 5px;
   padding: 5px;
    border: 1px solid lightgray;
    cursor: pointer;
    color: white;
  
}
.btn-twitter{
    margin-top: 10px;
    color: white;
    margin-left: 50px;
    text-decoration: none;
    background-color: #e66465;
padding: 10px 15px 10px 15px;
    border: 1px solid lightgray;
    border-radius: 5px;
    cursor: pointer;
}
.row{
    margin-top: 20px;

}
.card{
    background: linear-gradient(#e66465, #9198e5);
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}